{% extends 'base.html' %}
{% block conteudo %}

<h2 style ="text-align: center">
        Lista de Frutas
</h2>
<hr>
<ul>
    {% for fruta in frutas %}
        <li>{{fruta}}</li>
    {% endfor %}
    <form action="{{url_for('principal')}}" method="POST">
        <div class="form-group">
            <label for="exemploFruta"> Fruta </label>
            <input class="form-control" id="exemploFruta" type="text" name="fruta" placeholder="Digite o nome de uma fruta">
        </div>
        <button class="btn btn-success">Adicionar!</button>
    </form>
</ul>

{% endblock %}
<!página menu>
